<div class="row">
         <div class="col-4 mb-2 bg-light" id="comments" >
            {{user.name}}
        </div>
        <br>
        <div class="col-8 mb-2 mt-5 fs-5 justify-content-end bg-light" id="comments" >
             {{comments.[0].user_comment}}
               
   </div>