<section>
    <div>
        <div>
            <h2>
                <p>login</p>
            </h2>
            <p>Username</p>
            <input id="username" type="text">
            <p>Password</p>
            <input id="password" type="text">
        </div>
    </div>
</section>