<section>
    <div>
        <div>
            <h2>
                <p>login</p>
            </h2>
            <p>Username</p>
            <input id="username" type="text">
            <p>Password</p>
            <input id="password" type="text">
        </div>
    </div>
</section>


<div>
    <div>
        <h2>Welcome {{name}}</h2>
    </div>
</div>

<div>
    <div>
        <h3>Create a new post</h3>
    </div>
</div>

<form action="" class="">
    <div class="form-group">
        <label for=""></label>
        <input type="text">
    </div>
</form>

